.loginContainer{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.loginForm{
    display: block;
    border-radius: 4px;
    border: 1px black solid;
    box-shadow: 0 0 12px black;
    padding: 2rem;
}

.loginForm input{
    border-style: 4px;
    display: block;
    margin: 1rem auto;
}